  .inder-regular-normal {
  font-family: "Inder", sans-serif;
   font-style: normal;
}

 /* *nav style */
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
 }
 .nav-logo{
    font-weight: 700;
    font-size: 36px;
    color: #ca1c59;
 }
 .primary-btn{
    background-color: rgb(189, 12, 80);
    font-weight: bold;
    color: #f5f3f3;
    padding: 18px 30px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
 }
 button:hover{
    background-color: #fbbdcd;
    color: black;
 }
 body{
    background-color: #f4f3ff;
 }
  /* *banner style */
  .banner{
   text-align: center;
   
  }
  span{
    display: block;
  }
  .bnr-title{
    font-weight: bold;
    font-size: 65px;
  }
  .main-hdr{
    background-image: url("../Assets/Hero-bg.png");
    width: 1440px;
    height: 698px;
  }
  .bnr-content{
    margin-bottom: 230px;
    margin-top: 230px;
   
  }
 
  /* *action section style */
  .action{
    display: flex;
    margin: 150px;
    gap: 200px;
    padding: 20px;
  }
  .action-title{
    font-weight: bold;
    font-size: 38px;
  }
  .action-dec{
    font-size: 20px;
    font-weight:400;
    color: #706e83;
  }
  .action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
  }
  .action-content{
    margin: 20px;
  }
  /* *productive user section style */
  .productive-user{
    text-align: center;
  }
  .productive-user-content{
    display: flex;
    justify-content: center;
    
    
  }
  .productive-user-heading{
    font-weight: bold;
    font-size: 60px;
    color: #ca1c59;
    
 }
 .productive-user-dec{
    font-weight: 300;
    font-size: 20px;
    color: #0000007d;
    margin-right:40px;
    margin-top:0px;
    gap: 10px;
    padding: 50px;
    justify-content: center;
 }
 .main-dec{
    font-weight: bold;
    font-size: 30px;
    margin: 30px;
 }
 .productive-user{
    background-color: #c3c2cb;
    margin: 140px;
    border-radius: 30px;
     padding: 40px;
 }
 
 /* *review section style */
 .review-sec-title{
    text-align: center;
 }
 .review{
    margin: 150px;
 }
 .main-review-sec{
    display: flex;
    gap: 20px;
   
 }
 .review-div{
    padding: 20px;
    background-color: white;
    border-radius: 14PX;
 }
.review-profile{
    border-radius: 30px;
}
.review-footer{
    display: flex;
    gap: 10px;
    align-items: center;
}
.date{
    color: #00000080;
} 
 /* *newsletter section style */
 .newsletter-section{
    margin: 150px;
    display: flex;
 }
 .newsletter{
    width: 50%;
 }
 input[type="text"], textarea{
    display: block;
    width: 90%;
    padding: 20px 10px;
    gap: 10px;
    border-radius:5px;
    margin-top: 5px;
    margin-bottom: 8px;
 }
 
 input[type="email"]{
    display: block;
     width: 90%;
   padding: 20px 10px;
    gap: 10px;
    border-radius:5px;
    margin-top: 5px;
    margin-bottom: 8px;
 }
 input[type="button"]{
    display: block;
    width: 95%;
    padding: 20px 10px;
    gap: 10px;
    border-radius:5px;
    margin-top: 15px;
   
 }
 #from-btn{
    margin-top: 10px;
 }
 .form-title{
    font-weight: bold;
    font-size: 77px;
 }
 #from-btn button:hover{
    background-color: #fbbdcd;
    color: black;
 }
 .last-button :hover{
    background-color: #fbbdcd;
    color: black;
 }
 /* *footer section style */
 footer{
   background-color: white;
   text-align: center;
   width: 100%;
 }
 .footer-logo{
   font-weight: bold;
   color: #ca1c59;
   font-size: 90px;
   padding-top: 100px;
 }
 .footer-menu{
   text-decoration: none;
   padding-bottom: 100px;
   

 }
 a{
   text-decoration: none;
   margin: 40px;
   margin-bottom: 100px;
   color: #000000a2;
 }
 .footer-dec{
   color: #000000a2;
   font-size: 20px;
 }